body {
    margin: 0;
    padding: 0;
    background-color: #111;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

.header {
    background-color: black;
    padding: 20px;
    border-bottom: 5px solid white;
}

.header h1 {
    margin: 0;
    color: white;
    font-size: 2.5em; /* Ajuste o tamanho conforme necessário */
}

.menu {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 15px;
    font-size: 18px;
    padding: 10px 20px; /* Adiciona preenchimento para parecer um botão */
    background-color: white; /* Cor de fundo do botão */
    border: 2px solid black; /* Borda do botão */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s, color 0.3s; /* Transição suave para cor de fundo e texto */
}

.menu a:hover {
    color: white; /* Cor do texto ao passar o mouse */
    background-color: black; /* Cor de fundo ao passar o mouse */
}

.menu a.spotify-link {
    background-color: #1DB954; /* Cor de fundo verde do Spotify */
    border-color: #1DB954; /* Cor da borda verde do Spotify */
    color: white; /* Cor do texto branco */
}

.menu a.spotify-link:hover {
    background-color: #1ed760; /* Cor de fundo verde mais clara ao passar o mouse */
    border-color: #1ed760; /* Cor da borda verde mais clara ao passar o mouse */
}

.content {
    background-color: #ddd;
    padding: 20px;
    margin: 20px auto;
    width: 80%; /* Centraliza o conteúdo e define a largura */
    text-align: left; /* Alinha o texto à esquerda */
}

.section {
    margin-bottom: 40px; /* Adiciona espaço entre as seções */
}

.footer {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 14px;
}